/*****
Copyright © 2014 UC Regents and ALEKS Corporation
ALEKS® is a registered trademark of ALEKS Corporation.
*****/
a:link, a:visited {color: #006633;}
a.none {color: #0000ff;}
a.name {color: #000000;}
a.section {color: #00529b;font-weight: bold;}
a.name {color: #000000;}
a.prefix {color: #999999;}
a.symbol {float: left;height:54px;}
a.symbol_latin {float: left;height:55px;}
ul.manual {margin-left: 0.5em;}
li.manual {margin-left: 0.6em;}
td {font: 10pt Verdana;}
body {font: 10pt Verdana;}
td.nofont, table.nofont, tr.nofont, p.nofont {font: 0pt Verdana;}
td.aksel,th.aksel {border-top: 0px;border-bottom: 1px solid #999999;border-right: 1px solid #999999;border-left: 0px;}
table.aksel {border-top: 1px solid #999999;border-bottom: 0px;border-right: 0px;border-left: 1px solid #999999;}
td.aksel2,th.aksel2 {border-top: 0px;border-bottom: 1px solid #C0C0C0;border-right: 1px solid #C0C0C0;border-left: 0px;background: #FFFFFF;font: 10pt Verdana;}
td.breadcrumb{padding-top: 0px;padding-bottom: 0px;}
th.aksel2 {font-weight: bold;color: #003D7D;background: #F1F1F1;}
table.aksel2 {border-top: 1px solid #B4B4B4;border-bottom: 0px;border-right: 0px;border-left: 1px solid #B4B4B4;font: 10pt Verdana;}
span.wlnk, span.wlnk2{padding-right: 8px;border-right: 1px solid #f1f1f1;color: #006633;font-size: 7pt;font-weight: bold;}
span.wlnk2{border-right: none;padding-right: 0px;}
a.wlnk{padding-left: 8px;text-decoration: none;}
input.text_search {position: relative;border: 0px;padding: 1px;overflow: visible;border: 1px solid #f1f1f1;background-color: #C2CEE6;color: #000000;width: 108px;height:100%;}
input.text_search_support {border: 1px inset #E4E4E4;width: 310px;height: 21px;}
input.searchHighlighted{background-color: #E0E6F3;}
button {padding: 0 .25em;width: auto;overflow: visible;}
td button.search{width: 100%;}
button.search, button.but, button.but_big, button.login{background: #ACD4AC;border: 1px outset #ACD4AC;color: #006633;font-family: Verdana;font-weight: bold;font-size: 7pt;padding: 2px 3px;cursor: pointer;}
button.but {font-size: 8pt;padding: 3px 4px;}
button.but_big {font-size: 10pt;padding: 10px 4px;}
td.lw_menu{padding: 0px;border-top: 2px solid #ffffff;border-bottom: 2px solid #ffffff;white-space: nowrap;}
.ssb,.ssbs,.ossb,.ossbs,.bssb,.bssbs,.gssb,.gssbs{display: inline-block;background-repeat: no-repeat;height: 16px;overflow: hidden;cursor: pointer;text-decoration: none;float: left;*float: none;}
.sub,.subs,.osub,.osubs,.bsub,.bsubs,.gsub,.gsubs{display: inline-block;background-position:100% 0;background-repeat:no-repeat;height:16px;overflow:hidden;margin-left: 21px;padding-right: 21px;padding-top: 1px;text-align: center;font-weight: bold;font-size: 66%;font-family: Verdana;text-decoration: none;white-space: nowrap;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.sub,.subs,.osub,.osubs,.bsub,.bsubs,.gsub,.gsubs{padding-top: 2px;}
.sub,.subs{position:relative;top:-1px;margin-top:1px;}
}
.ssbs,.subs{background-image: url('/web/20150303020741im_/http://www.aleks.com/website/buts_nav_green.hcache:1.png');}
.ssb,.sub{background-image: url('/web/20150303020741im_/http://www.aleks.com/website/buts_nav_grey.hcache:1.png');}
a .ssb,.ssbs{border-right:1px white solid;border-left:1px white solid;}
.ssb,.sub{color: #006633;}
.ssbs,.subs{color: #ffffff;}
.ossb,.ossbs,.bssb,.bssbs,.gssb,.gssbs,.osub,.osubs,.bsub,.bsubs,.gsub,.gsubs{background-image: url('/web/20150303020741im_/http://www.aleks.com/website/buts_home.hcache:1.png');height: 25px;color: #ffffff;border-right: 0px;}
.ossb,.ossbs,.bssb,.bssbs,.gssb,.gssbs{width: 100%;}
.osub,.osubs,.bsub,.bsubs,.gsub,.gsubs{font-size: 14px;padding-top: 3px;display: block;}
.bsubs{background-position:100% -26px;}
.bssbs{background-position:0px -26px;}
.gsub{background-position:100% -52px;}
.gssb{background-position:0px -52px;}
.gsubs{background-position:100% -78px;}
.gssbs{background-position:0px -78px;}
.osub{background-position:100% -104px;}
.ossb{background-position:0px -104px;}
.osubs{background-position:100% -130px;}
.ossbs{background-position:0px -130px;}
td.sm_img {background-position:center;background-repeat:no-repeat;height: 100px;overflow:hidden;}
.dblue_f, .dblue_fnw, .dblue_fnw_news {font-weight: bold;color: #003366;font-size: 11px;text-align: left;}
.dblue_f {white-space: nowrap;}
.dblue_fnw_news{padding-right: 400px;}
div.box_text{text-align: left;padding: 0px 2px 4px 2px;}
td.bt_box, td.bt_box2{padding: 0px 10px 8px 10px;background-color: #e0e0e0;}
td.bt_box2{border-left: 2px solid #ffffff;}
ul.news, ul.bullet {list-style-type:none;padding:0px;margin:0px;border:0px;text-align: left;}
ul.news{height: 73px;overflow: hidden;padding-top: 2px;}
ul.bullet{padding-top: 28px;padding-right: 10px;white-space: nowrap;}
li.news, li.bullet {background-repeat:no-repeat;background-position:0px 5px;font-weight: normal;}
li.news {background-image:url('/web/20150303020741im_/http://www.aleks.com/aleks/website/gdot_blue.hcache:1.gif');font-size: 12px;padding-left:14px;padding-bottom: 2px;padding-top: 2px;}
li.bullet {background-image:url('/web/20150303020741im_/http://www.aleks.com/aleks/website/gdot_gray.hcache:1.gif');background-position:-2px 4px;font-size: 13px;padding-left:10px;padding-bottom:2px;}
.dgreen_f {font-weight: bold;color: #006633;font-size: 14px;background: url('/web/20150303020741im_/http://www.aleks.com/aleks/website/Round-Button.hcache:1.gif') no-repeat;margin-left: 2px;padding: 2px 0px 5px 25px;margin-top: 5px;cursor: pointer;text-decoration: none;}
table.main_tb{background: #adbdde  right no-repeat;}
div.cr_title, div.cr_box_title{font-weight: bold;color: #00529b;font-size: 11px;border-bottom: 1px solid #00529b;margin: 0px 5px;padding: 6px 0px 2px;}
div.cr_box_title{text-align: center;white-space: nowrap;}
div.cr_label, div.cr_label_over, a.cr_label{cursor: pointer;color: #006633;padding: 3px 5px;margin: 2px 0px;}
div.cr_label_over{background-color: #dae1f1;font-weight: bold;}
a.cr_label {text-decoration: none;display: block;font-size: 10px;}
a.cr_label:hover {background-color: #dae1f1;font-weight: bold;}
td.cr_content{color: #666666;font-size: 11px;padding: 6px 6px 8px;}
a.lg_green_but {font-weight: bold;color: #333333;background-color: #E7F7E7;border: 1px solid #C6D6C6;text-decoration: none;padding: 5px 40px;margin: 0px 20px;}
div.ug_pdf{float: right;padding-right: 4px;font-size: 10px;}
div.video_transcript {float: right;width: 90px;text-align: center;}
div.nav_but_box {text-align: center;margin: 30px 0px 20px;}
div.nav_but_box a{font-size: 12px;}
table.blue_tb{background-color: #E0E8F3;}
table.blue_tb td.blue_tb_title{background-color: #A8BFDE;color: #003D7D;font-weight: bold;font-size: 12px;}
table.blue_tb td{height: 35px;border: 1px solid #ffffff;font-size: 11px;padding: 0px 4px;}
span.subtitle{font-size: 9px;font-weight: normal;color: #333333;}
div.bye{padding: 15px 0px;text-align: center;font-size: 16px;}
.green_button {float: left;text-align: center;background: #ACD4AC;border-style: outset;border-width: 0px 1px 1px 0px;border-color: #ACD4AC;color: #006633;font-family: Verdana;font-weight: bold;font-size: 7pt;cursor: pointer;font-size: 8pt;padding: 10px;margin: 0px 0px 0px 50px;}

/*
     FILE ARCHIVED ON 02:07:41 Mar 03, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:31:52 Aug 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.558
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.011
  cdx.remote: 8.078
  LoadShardBlock: 63.843 (3)
  PetaboxLoader3.datanode: 41.465 (4)
  PetaboxLoader3.resolve: 76.572 (2)
  load_resource: 72.319
*/